# Database
DATABASE_URL="postgresql://user:Shivam@88@localhost:5432/emailtracker?schema=public"

# JWT
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"
JWT_EXPIRES_IN="7d"
JWT_SECRET=shivam
# Email SMTP (Gmail, SendGrid, AWS SES, etc.)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="hivamchauhan57332@gmail.com"
SMTP_PASS="ghob zzsu ijaf nmak"
SMTP_SECURE=false

# App
PORT=5000
NODE_ENV=development
APP_URL="http://localhost:5000"
FRONTEND_URL="http://localhost:5173"
